<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheetLinkTag('bootstrap', 'application', 'bootstrap-responsive') %>
        <%- javascriptIncludeTag('jquery', 'bootstrap', 'rails', 'application') %>
        <%- csrfMetaTag() %>
        <meta charset="utf8">
        <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <style>
          .sidenav i {
            float: right;
            margin-top: 2px;
            margin-right: -6px;
          }
          .sidenav > li.nav-header {
            background-color: #eee;
          }
          .sidenav > li.nav-header,
          .sidenav > li > a {
            display: block;
            margin: 0 0 -1px;
            padding: 8px 14px;
            border: 1px solid #e5e5e5;
          }
          .sidenav > li.nav-header:first-child,
          .sidenav > li:first-child > a {
            -webkit-border-radius: 6px 6px 0 0;
            -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
          }
          .sidenav > li:last-child > a {
            -webkit-border-radius: 0 0 6px 6px;
            -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
          }
          .sidenav {
            padding: 0;
          }
        </style>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/">Documentation</a>

                    <ul class="nav">
                        <% if (controllers.length > 0) { %>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Controllers <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <% controllers.forEach(function(controller, i) { %>
                                    <% if (i === 0 || controllers[i-1].path !== controller.path) { %>
                                    <li class="nav-header"><%- controller.path || '/' %></li>
                                    <% } %>
                                    <li class="<%- fileType === 'controller' && controller.name === fileName ? 'active' : '' %>"><%- linkTo(controller.className, docsPath + '/controllers/' + controller.path.replace(/\//g, '-') + ':' + controller.name) %></li>
                                    <% }) %>
                                </ul>
                            </li>
                        <% } %>
                        <% if (models.length > 0) { %>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Models <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <% models.forEach(function(model, i) { %>
                                    <% if (i === 0 || models[i-1].path !== model.path) { %>
                                    <li class="nav-header"><%- model.path || '/' %></li>
                                    <% } %>
                                    <li class="<%- fileType === 'model' && model.name === fileName ? 'active' : '' %>"><%- linkTo(model.name, docsPath + '/models/' + model.path.replace(/\//g, '-') + ':' + model.name) %></li>
                                    <% }) %>
                                </ul>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>

            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>

            <div class="row-fluid">
                <div class="span3">
                    <ul class="nav nav-list sidenav">
                        <% controllers.forEach(function(controller, i) { %>
                        <% if (i === 0 || controllers[i-1].path !== controller.path) { %>
                        <li class="nav-header">controllers <span style="color:#000"><%- controller.path || '/' %></span></li>
                        <% } %>
                        <li class="<%- fileType === 'controller' && controller.name === fileName && controller.path === currentApp.app.path() ? 'active' : '' %>"><%- linkTo(controller.className, docsPath + '/controllers/' + controller.path.replace(/\//g, '-') + ':' + controller.name) %></li>
                        <% }) %>
                        <% models.forEach(function(model, i) { %>
                        <% if (i === 0 || models[i-1].path !== model.path) { %>
                        <li class="nav-header">models <span class="color:#000"><%- model.path || '/' %></span></li>
                        <% } %>
                        <li class="<%- fileType === 'model' && model.name === fileName && controller.path === currentApp.app.path() ? 'active' : '' %>"><%- linkTo(model.name, docsPath + '/models/' + model.path.replace(/\//g, '-') + ':' + model.name) %></li>
                        <% }) %>
                    </ul>
                </div>
                <div class="span9">
                    <%- body %>
                </div>
            </div>

            <hr />
            <footer>
                <p>&copy; Company <% var d=new Date();%><%= d.getFullYear() %></p>
            </footer>
        </div>
    </body>
</html>
<%- contentFor('javascripts') %>
