<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheetLinkTag('bootstrap', 'application', 'bootstrap-responsive') %>
        <%- javascriptIncludeTag('jquery', 'bootstrap', 'rails', 'application') %>
        <%- csrfMetaTag() %>
        <meta charset="utf8">
        <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Documentation</a>
                    <ul class="nav">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Controllers <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <% controllers.forEach(function(controller, i) { %>
                                <% if (i === 0 || controllers[i-1].path !== controller.path) { %>
                                <li class="nav-header"><%- controller.path || '/' %></li>
                                <% } %>
                                <li class="<%- fileType === 'controller' && controller.name === fileName ? 'active' : '' %>"><%- linkTo(controller.className, '/docs/controllers/' + controller.path.replace(/\//g, '-') + ':' + controller.name) %></li>
                                <% }) %>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Models <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <% models.forEach(function(model, i) { %>
                                <% if (i === 0 || models[i-1].path !== model.path) { %>
                                <li class="nav-header"><%- model.path || '/' %></li>
                                <% } %>
                                <li class="<%- fileType === 'model' && model.name === fileName ? 'active' : '' %>"><%- linkTo(model.name, '/docs/models/' + model.path.replace(/\//g, '-') + ':' + model.name) %></li>
                                <% }) %>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>

            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>

            <%- body %>

            <hr />
            <footer>
                <p>&copy; Company <% var d=new Date();%><%= d.getFullYear() %></p>
            </footer>
        </div>
    </body>
</html>
<%- contentFor('javascripts') %>
